<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HelloWeb</display-name>
  <context-param>
    <param-name>country</param-name>
    <param-value>china</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>cn.edu.jxnu.DemoServlet</servlet-class>
    <init-param>
      <param-name>filename</param-name>
      <param-value>dc.cfg</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>another servlet</description>
    <display-name>DemoServlet2</display-name>
    <servlet-name>DemoServlet2</servlet-name>
    <servlet-class>cn.edu.jxnu.DemoServlet2</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet2</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>cn.edu.jxnu.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/checkuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LastModifyServlet</display-name>
    <servlet-name>LastModifyServlet</servlet-name>
    <servlet-class>cn.edu.jxnu.LastModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastModifyServlet</servlet-name>
    <url-pattern>/LastModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>cn.edu.jxnu.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeServlet</display-name>
    <servlet-name>CodeServlet</servlet-name>
    <servlet-class>cn.edu.jxnu.CodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeServlet</servlet-name>
    <url-pattern>/CodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FreshServlet</display-name>
    <servlet-name>FreshServlet</servlet-name>
    <servlet-class>cn.edu.jxnu.FreshServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FreshServlet</servlet-name>
    <url-pattern>/FreshServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchSerlvet</display-name>
    <servlet-name>SearchSerlvet</servlet-name>
    <servlet-class>cn.edu.jxnu.SearchSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSerlvet</servlet-name>
    <url-pattern>/SearchSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>cn.edu.jxnu.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/abc/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet2</display-name>
    <servlet-name>AddToCartServlet2</servlet-name>
    <servlet-class>cn.edu.jxnu.AddToCartServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet2</servlet-name>
    <url-pattern>/AddToCartServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jspdemo</servlet-name>
    <jsp-file>/WEB-INF/success.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jspdemo</servlet-name>
    <url-pattern>/jspdemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>cn.edu.jxnu.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContactServlet</display-name>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>cn.edu.jxnu.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContactServlet</display-name>
    <servlet-name>AddContactServlet</servlet-name>
    <servlet-class>cn.edu.jxnu.AddContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactServlet</servlet-name>
    <url-pattern>/AddContactServlet</url-pattern>
  </servlet-mapping>
</web-app>